<%# <div class="center jumbotron">
<marquee><h1>Welcome to the Blog_app</h1></marquee> %>
   <% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

    </aside>
     <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>




<div class="body_one">
    <div class="body_text">
        <h1>BLOG APP</h1> 
        <h2>
            Chào mừng bạn đến với blog_ appapp
            <a href="http://www.lichdinhtb.com/">Lichdinhtb.com</a>
            Blog application.
             </h2>
        </div>
   
</div>
<div class="content_mot">
 <div class="col-lg-8 col-lg-offset-2">
    <h2>Download Grayscale</h2>
    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
</div>   
</div>
 <!-- Blog Post -->
          <div class="card mb-4">
            <%= image_tag("anh.jpg", :alt => "img", :size => "1280 x720") %>
            <div class="card-body">
              <h2 class="card-title">Post Title</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2017 by
              <a href="#">Start Bootstrap</a>
            </div>
          </div>


<% end %>
